* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
}
.p1{
    padding: 40px 80px;
}


#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: white;
    box-shadow: 0 5px 15px black(0, 0, 0, 0.06);
}
#nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#nav li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color:black;
    transition: 0.3s ease;
}
#nav li a:hover{
    color:#088178;
}
#nav li a.active{
    color:#088178;
}
#nav li  a.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#nav li  a:hover:after{
    content: "";
    width: 30%;
    height: 2px;
    background:#088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#header1{
    background-image: url("img.png");
    width: 100%;
    height: 40vh;
    background-color: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    color: white;
    font-size: 35px;
}

#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}
#cart table img{
    width: 70px;
}
#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}
#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}
#cart table th{
    border: 1px solid black;
    border-left: none;
    border-right: none; 
}
#cart table th td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;

}
#cart table tbody tr td{
    padding-top: 15px;
}
#cart table tbody td{
    font-size: 13px;
}

#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#cupon{
    width: 50%;
    margin-bottom: 30px;
}
#coupon h3, 
#subtotal h3{
    padding-bottom: 15px;
}
#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid black;
}
#coupon button, 
#subtotal button{
    background-color: #088178;
    color: white;
    padding: 13px 17px;
}
#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid gray;
    padding: 30px;
}
#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
#subtotal table td {
    width: 50%;
    border: 1px solid gray;
    padding: 10px; 
    font-size:13px;
}






#footer{
    background-color: white;
    padding: 70px 0;
}
#footer .footer-container{
    max-width: 1200px;
    margin: auto;
}
#footer .row{
    display: flex;
    flex-wrap: wrap;
}
#footer .foot{
    list-style: none;
}
#footer .footer-col{
    width: 25%;
    padding: 0 15px;
}
#footer .footer-col h4{
    font-size: 18px;
    color: #088178;
    text-decoration: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
#footer .footer-col .foot li a{
    font-size: 16px;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    font-weight: 300;
    display: block;
    margin-bottom: 10px;
}
#footer .footer-col .foot li a:hover{
    font-size: 16px;
    text-transform: capitalize;
    color: #088178;
    text-decoration: none;
    font-weight: 300;
    display: block;
    margin-bottom: 10px;
}
#footer .footer-col .links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    color: white;
    transition: all 0.5s ease;
}
#footer .footer-col .links a:hover{
    color: #24262b;
    background-color: white;
}
