* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
}
.p1{
    padding: 40px 80px;
}


#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: white;
    box-shadow: 0 5px 15px black(0, 0, 0, 0.06);
}
#nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#nav li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color:black;
    transition: 0.3s ease;
}
#nav li a:hover{
    color:#088178;
}
#nav li a.active{
    color:#088178;
}
#nav li  a.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#nav li  a:hover:after{
    content: "";
    width: 30%;
    height: 2px;
    background:#088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#card1 .img.cardpay{
    width: 25px;
    text-align: center;
    margin-left: 15px;
}

#footer{
    background-color: white;
    padding: 70px 0;
}
#footer .footer-container{
    max-width: 1200px;
    margin: auto;
}
#footer .row{
    display: flex;
    flex-wrap: wrap;
}
#footer .foot{
    list-style: none;
}
#footer .footer-col{
    width: 25%;
    padding: 0 15px;
}
#footer .footer-col h4{
    font-size: 18px;
    color: #088178;
    text-decoration: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
#footer .footer-col .foot li a{
    font-size: 16px;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    font-weight: 300;
    display: block;
    margin-bottom: 10px;
}
#footer .footer-col .foot li a:hover{
    font-size: 16px;
    text-transform: capitalize;
    color: #088178;
    text-decoration: none;
    font-weight: 300;
    display: block;
    margin-bottom: 10px;
}
#footer .footer-col .links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    color: white;
    transition: all 0.5s ease;
}
#footer .footer-col .links a:hover{
    color: #24262b;
    background-color: white;
}