* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: whitesmoke;
    box-shadow: 0 5px 15px black(0, 0, 0, 0.06);
}
#nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#nav li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color:black;
    transition: 0.3s ease;
}
#nav li a:hover{
    color:aquamarine;
}
#nav li a.active{
    color:aquamarine;
}
#nav li  a.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background: aquamarine;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#nav li  a:hover:after{
    content: "";
    width: 30%;
    height: 2px;
    background: aquamarine;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#header1{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsgpXNEu5FC7_YdT6yNS07bIOMhf0yEPs2znD9Q-d9WRkQIeA9g3PlUEESw8_hV2VV88k&usqp=CAU");
    width: 100%;
    height: 40vh;
    background-color: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    color: white;
    font-size: 35px;
}

#product1{
    text-align: center;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
#product1 .product{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
}
#product1 .product:hover{
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.06);
}
#product1 .product img{
    width: 100%;
    border-radius: 20px;
}
#product1 .product .text{
    text-align: start;
    padding: 10px 0;
}
#product1 .product .text span{
    color: #606063;
    font-size: 13px;
}
#product1 .product .text h5{
    color: #1a1a1a;
    font-size: 15px;
    padding-top: 7px;
}
#product1 .product .text h4{
    font-size: 15px;
    padding-top: 7px;
    font-weight: 700;
    color: #088178;
}
#page{
    text-align: center;
}
#page a{
    text-decoration: none;
    background-color: aquamarine;
    padding: 15px 20px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
}
#page a i{
    font-size: 16px;
    font-weight: 600;
}
#letter , #text1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(13, 5, 25, 0.852);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    color: white;
    padding-top: 50px;
    padding-left: 100px;
    padding-bottom: 150px;
}
#letter .form{
    display: flex;
    width: 40%;
    padding-right: 100px;
}
#letter h4{
    font-size: 22px;
    font-weight: 700;
    color: white;
}
#letter p{
    font-size: 15px;
    font-weight: 600;
    color: gray;
}
#letter input{
    height: 50px;
    padding: 0 4px;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
}
#letter button{
    background-color: aquamarine;
    color: white;
    white-space: nowrap;
}
#header1.blog-header{
    background-image: url("https://www.whiteflash.com/articlefiles/best-jewelry-stores-in-the-world/cartier.jpg");
}
#blog {
    padding: 150px 150px 0 150px;
}
#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}
#blog .blog-img{
    width: 50%;
    margin-right: 40px;
}
#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
#blog .blog-details{
    width: 50%;
    padding-left: 50px;
}
#blog .blog-details a{
    text-decoration: none;
    font-size: 12px;
    color: black;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}
#blog .blog-details a:hover{
    color: aquamarine;
}
#blog{
    padding: 100px 20px 0 20px;
}
#blog .blog-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#blog .blog-img{
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
}
#blog .blog-details{
    width: 100%;
}
}
#header1.blog-header{
    background-image: url("https://www.whiteflash.com/articlefiles/best-jewelry-stores-in-the-world/cartier.jpg");
}
#blog {
    padding: 150px 150px 0 150px;
}
#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}
#blog .blog-img{
    width: 50%;
    margin-right: 40px;
}
#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
#blog .blog-details{
    width: 50%;
    padding-left: 50px;
}
#blog .blog-details a{
    text-decoration: none;
    font-size: 12px;
    color: black;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}
#blog .blog-details a:hover{
    color: aquamarine;
}
#blog{
    padding: 100px 20px 0 20px;
}
#blog .blog-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#blog .blog-img{
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
}
#blog .blog-details{
    width: 100%;
}
}
#header1.blog-header{
    background-image: url("https://www.whiteflash.com/articlefiles/best-jewelry-stores-in-the-world/cartier.jpg");
}
#blog {
    padding: 150px 150px 0 150px;
}
#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}
#blog .blog-img{
    width: 50%;
    margin-right: 40px;
}
#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
#blog .blog-details{
    width: 50%;
    padding-left: 50px;
}
#blog .blog-details a{
    text-decoration: none;
    font-size: 12px;
    color: black;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}
#blog .blog-details a:hover{
    color: aquamarine;
}
