* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
}
.p1{
    padding: 40px 80px;
}


#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: white;
    box-shadow: 0 5px 15px black(0, 0, 0, 0.06);
}
#nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#nav li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color:black;
    transition: 0.3s ease;
}
#nav li a:hover{
    color:#088178;
}
#nav li a.active{
    color:#088178;
}
#nav li  a.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#nav li  a:hover:after{
    content: "";
    width: 30%;
    height: 2px;
    background:#088178;
    position: absolute;
    bottom: -4px;
    left: 20px;

}

button.button{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #fff;
    background-color: #000;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

#prodetails{
    display: flex;
    margin-top: 20px;
}
#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}
.small-image-group{
    display: flex;
    justify-content: space-between;
}
.small-image-col{
    flex-basis: 25%;
    cursor: pointer;
}
#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}
#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h2{
    font-size: 25px;
}
#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#prodetails .single-pro-details button{
    background-color: #088178;
    color: white;
    font-size: 20px;
}
#prodetails .single-pro-details span{
    line-height: 25px;
}

#product1{
    text-align:center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;

}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06)
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color:#088178;

}
#product1 .pro .cart{
    width:40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color:#e8f6ea;
    font-weight: 500;
    color:#088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom:20px;
    right: 10px;
}


#letter , #text1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(13, 5, 25, 0.852);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    color: white;
    padding-top: 50px;
    padding-left: 100px;
    padding-bottom: 150px;
}
#letter .form{
    display: flex;
    width: 40%;
    padding-right: 100px;
}
#letter h4{
    font-size: 22px;
    font-weight: 700;
    color: white;
}
#letter p{
    font-size: 15px;
    font-weight: 600;
    color: gray;
}
#letter input{
    height: 50px;
    padding: 0 4px;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#letter button{
    background-color: #088178;
    color: white;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

#footer{
    background-color: white;
    padding: 70px 0;
}
#footer .footer-container{
    max-width: 1200px;
    margin: auto;
}
#footer .row{
    display: flex;
    flex-wrap: wrap;
}
#footer .foot{
    list-style: none;
}
#footer .footer-col{
    width: 25%;
    padding: 0 15px;
}
#footer .footer-col h4{
    font-size: 18px;
    color: #088178;
    text-decoration: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
#footer .footer-col .foot li a{
    font-size: 16px;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    font-weight: 300;
    display: block;
    margin-bottom: 10px;
}
#footer .footer-col .foot li a:hover{
    font-size: 16px;
    text-transform: capitalize;
    color: #088178;
    text-decoration: none;
    font-weight: 300;
    display: block;
    margin-bottom: 10px;
}
#footer .footer-col .links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    color: white;
    transition: all 0.5s ease;
}
#footer .footer-col .links a:hover{
    color: #24262b;
    background-color: white;
}